.sidebar {
  background-color: #F4F7F8;
  padding: 0.5em;
}

.sidebar__control-indicator {
  border-radius: 50%;
  display: inline-block;
  font-size: 1.3em;
  height: 1em;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  width: 1em;
}

.sidebar__control:indeterminate,
.sidebar__control[data-validity="indeterminate"] {
  font-style: italic;
}

.sidebar__control:invalid + .sidebar__control-indicator::before,
.sidebar__control[data-validity="invalid"] + .sidebar__control-indicator::before {
  color: red;
  content: "\2718";
}
.sidebar__control:indeterminate + .sidebar__control-indicator::before,
.sidebar__control[data-validity="indeterminate"] + .sidebar__control-indicator::before {
  color: darkorange;
  content: "\26A0";
}
.sidebar__control:valid + .sidebar__control-indicator::before,
.sidebar__control[data-validity="valid"] + .sidebar__control-indicator::before {
  color: green;
  content: "\2714";
}

.meta-form__special {
  height: 100%;
  width: 100%;
  text-align: center;
}

.meta-form__dynamic-map {
  border-left: none;
  border-right: none;
  margin: 5px 0px;
  padding: 1px 0px;
}

.meta-form__console {
  font-family: "monospace";
  height: 5em;
  overflow-x: scroll;
  resize: none;
  tab-size: 2em;
  white-space-collapse: preserve;
  white-space: pre;
}

.l-form {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 1px;
  grid-template-columns: 30% 60% 10%;
}

.l-form__key {
  grid-column: 1;
}

.l-form__value {
  grid-column: 2;

  /* Form values can contain additional values, so inherit a subgrid */
  display: grid;
  grid-template-columns: subgrid;
}

.l-form__special {
  grid-column: 3;
  margin: auto;
}

.l-form__wide {
  grid-column: 1 / 4;
  width: 100%;
}

.l-form__status {
  font-style: italic;
  text-align: center;
}

.l-form__submit {
  bottom: 0.25em;
  position: sticky;
}

.l-form__reset {
  grid-column: 2;
}
